@model CreateCourseFormModel
@{
    ViewData["Title"] = "Create course";
}

<div>
    <div>
        <div class="row" style="margin-top: -30px !important; margin-left: -40px">
            <div class="col-12">
                <div class="breadcrumbs">
                    <ul>
                        <li><a style="font-size:30px "><i class="fas fa-graduation-cap"></i> @ViewData["Title"]</a></li>
                    </ul>
                </div><!-- .breadcrumbs -->
            </div><!-- .col -->
        </div><!-- .row -->
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="12"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerId"></label>
                <select asp-for="TrainerId" class="form-control" asp-items="@Model.Trainers">
                    <option value="" class="hidden">Select Trainer..</option>
                </select>
                <span asp-validation-for="TrainerId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Create Course</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
