.article-author {
    font-style: italic;
    color: #19c880;
    text-decoration: none;
    font-weight: bold !important;

}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.course-details {
    padding-bottom: 10px;
}

.courses-title {
    margin-bottom: -40px !important;
    margin-left: -40px !important;
}

.div.course {
    height: 50px;
    width: 50px;
}

.home-page .img-responsive {
    height: 200px !important;
}

.home-jumbotron {
    margin-top: 20px;
    margin-bottom: 20px
}

.details {
    background-image: url('../images/jumbotron-details2.jpg');
    height: 400px !important;
    box-shadow: 0 24px 38px rgba(81,107,117,.21);
}

.article-details {
    background-image: url('../images/single-article.png');
    height: 400px !important;
    box-shadow: 0 24px 38px rgba(81,107,117,.21);
    background-color: rgba(0,0,0,0.2) !important;
}

.hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hr.style18 {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

    .hr.style18:before {
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;
        border-style: solid;
        border-color: #8c8b8b;
        border-width: 0 0 1px 0;
        border-radius: 20px;
    }

.jumbotron-header {
    color: rgb(25, 200, 128);
}

.jumbotron-body {
    color: white !important;
    margin-bottom: 2px;
    margin-top: 2px;

}
.jumbotron-body-details {
    color: white !important;
    margin-bottom: 2px;
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0,0,0,0.2);
    margin-right: -60px;
    padding-right: 30px;
    margin-left: -60px;
    padding-left: 30px;
    text-align: center
}

.jumbotron-article-details {
    color: white !important;
    margin-top: -80px;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-right: -60px;
    padding-right: 30px;
    margin-left: -30px;
    padding-left: 30px;
}

.img-responsive .gif-center {
    height: 200px !important;
}

.input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

    .input[type=checkbox].css-checkbox + label.css-label {
        padding-left: 30px;
        height: 25px;
        display: inline-block;
        line-height: 25px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 25px;
        vertical-align: middle;
        cursor: pointer;
    }

    .input[type=checkbox].css-checkbox:checked + label.css-label {
        background-position: 0 -25px;
    }

.label.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_391ce065f36b1460c4845fa9b5173fba.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.message {
    margin-top: 0px
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.pagination-center {
    margin: 0 auto;
    border-radius: 5px;
    width: 50%;
    float: none;
    text-align: center
}

.pagination li.disabled a {
    pointer-events: none
}

.radio .cr {
    border-radius: 50%;
}

    .radio .cr .cr-icon {
        margin-left: 0.04em;
    }

.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.text-blue {
    color: #2222ff
}

.table-center {
    margin: 0 auto;
    border-radius: 5px;
    float: none;
}

.users-title {
    
    margin-left: -38px !important;
}

#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Checkbox styling*/
.container-chkbox {
    display: block;
    position: relative;
    padding-left: -50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .container-chkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container-chkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.container-chkbox input:checked ~ .checkmark {
    background-color: rgb(25, 200, 128);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-chkbox input:checked ~ .checkmark:after {
    display: block;
}

.container-chkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
